<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/my_lab444?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">bekerka82</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="com.bekerskyy.domain.BonusAccount"/>
        <mapping class="com.bekerskyy.domain.City"/>
        <mapping class="com.bekerskyy.domain.Client"/>
        <mapping class="com.bekerskyy.domain.Good"/>
        <mapping class="com.bekerskyy.domain.Order"/>
        <mapping class="com.bekerskyy.domain.Packaging"/>
        <mapping class="com.bekerskyy.domain.Salon"/>
    </session-factory>
</hibernate-configuration>